.form{
    height: 100%;
    width:  50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 0;
    transition: 1s;
    background-color: #ffffff;
}
.form-login{
    background-color: #f9f9f9;
}
.form-register{
    background-color: #f9f9f9;
}

.form-login h2, .form-tittle{
    font-size:4.8rem;
    font-weight: 300;
    color: #000000;
}



.login-container{
    position: relative;
    width: 76.8rem;
    height: 48rem;
    border-radius: 1.2rem;
    overflow: hidden;
}


/* =========Form Social======= */


.form-social{
    display: flex;
    gap:2.5rem;
}


.social-icon{
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    box-shadow: 0 .4rem .4rem #d2d2d2;
    background-color: #f3f3f3;
    transition: .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.social-icon i{
    color: #000000;
    font-size: 2rem;
    transition: .1s ease-in-out;
}

.social-icon:hover i{
    color: #ffffff;
}

.social-icon:hover{
    transform: translateY(-10%);
    background-color: #c61066;
}

.icon-register:hover i{
    transform: translateY(-10%);
    background-color: #c61066;
}

.form-container p{
    margin-top: -.5rem;
    font-size: 1.7rem;
   
}



/* =========Form inputs======= */

.form-iputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin-top: -1rem;
}

.form-iputs input{
    border-radius: 5rem;
    padding: 1rem;
    padding-left: 3.5rem;
    border: none;
    outline: none;
    background-color: #f3f3f3;
}

.form-iputs input:focus{
    background-color: #b7b7b76a;
}
.form-iputs input:active{
    border: 1px solid #c61066;
}
/* =====button===== */

.form-button{
    border-style: none;
    width: 14rem;
    height: 4rem;
    border-radius: 5rem;
    border: 2px solid #c61066 ;
    background-color: #ffffff;
    color: #c61066;
    font-weight: 800;
    transition: .3s ease-in-out;
    font-size: 1.8rem;
    margin-top: -.3rem;
    cursor: pointer;
}
.form-button:hover{
    color: #ffffff;
    background-color:#c61066;
}

.form-link{
  color: #000000;
  font-size: 1.7rem;
}



.form-register .form-button:hover{
    background-color: #c61066;
}

.form-tittle-modificador{
    color: #f3f3f3 ;
}

.form-button-mod{
    background-color:transparent;
    color: #ffffff;
    font-weight: 500;
    border: 2px solid #ffffff;
}

.form-button-mod:hover{
    color: #000;
    background-color: #ffffff;
    border: 2px solid #000;
}



.form-register{
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.move .form-register{
    transform: translateX(0%);
    z-index: 1;
    opacity: 1;

}

.move .form-login{
    transform: translateX(100%);
}


img{
    width: 100%;
    max-width: 35rem;
    position: absolute;
    top: 4.5rem;
}







@media (width < 920px){
    .login-container{
       flex-direction: column;
       z-index: 99;
    }
    .overlay-container{
        display: none;
    }

}